In [2]:
import re
txt = "The rain in spain 123"
x = re.findall("\d",txt)
print(x)

['1', '2', '3']

In [3]:
import re
txt = "The rain in spain 123"
x = re.findall("\D",txt)
print(x)

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 's', 'p', 'a', 'i', 'n', ' ']

In [4]:
import re
txt = "The rain in spain 123"
x = re.findall("\s",txt)
print(x)

[' ', ' ', ' ', ' ']

In [7]:
import re
txt = "The rain in spain 123"
x = re.findall("\S",txt)
print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n', '1', '2', '3']

In [9]:
import re
txt = "The rain in_spain 123"
x = re.findall("\w",txt)
print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', '_', 's', 'p', 'a', 'i', 'n', '1', '2', '3']

In [12]:
import re
txt = "The rain in_spain 123"
x = re.findall("\W",txt)
print(x)

[' ', ' ', ' ']

In [15]:
import re
txt = "The rain in_spain@ 123"
x = re.findall("\w",txt)
print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', '_', 's', 'p', 'a', 'i', 'n', '1', '2', '3']

In [16]:
import re
txt = "8 times before 11:45 AM"
x = re.findall("\d",txt)
print(x)

['8', '1', '1', '4', '5']

In [17]:
import re
txt = "8 times before 11:45 AM"
x = re.findall("[0-9]",txt)
print(x)

['8', '1', '1', '4', '5']

In [18]:
import re
txt = "8 times before 11:45 AM"
x = re.findall("\d+",txt)
print(x)

['8', '11', '45']

In [21]:
import re
txt = "8 times before 11:45 AM"
x = re.findall("[0-5][0-9]",txt)
print(x)

['11', '45']

In [25]:
import re
txt = "08 times before 11:45 AM"
x = re.findall("[0-5][0-9]",txt)
print(x)

['08', '11', '45']

### Search Function

In [38]:
import re
txt = "The rain in spain"
x = re.search("\s",txt)
print(x)
print(x.span())
print(x.start())
print(x.end())
# print(x.group())

<re.Match object; span=(3, 4), match=' '>
(3, 4)
3
4

In [39]:
import re
txt = "The    rain in spain"
x = re.search("\s+",txt)
print(x)
print(x.span())
print(x.start())
print(x.end())
# print(x.group())

<re.Match object; span=(3, 7), match='    '>
(3, 7)
3
7

In [47]:
import re
txt = "The rain in spain"
x = re.search("rain",txt)
print(x)
print(x.span())
print(x.start())
print(x.end())
# print(x.group())

<re.Match object; span=(4, 8), match='rain'>
(4, 8)
4
8

In [48]:
import re
txt = "no 8856spain"
x = re.search("\d",txt)
print(x)
print(x.span())

<re.Match object; span=(3, 4), match='8'>
(3, 4)

In [49]:
import re
txt = "no 8856spain"
x = re.search("\d+",txt)
print(x)
print(x.span())

<re.Match object; span=(3, 7), match='8856'>
(3, 7)

### Split Function

In [ ]:
import re
txt = "The rain in spain"
x = re.split("\s",txt)
print(x)

['The', 'rain', 'in', 'spain']

In [ ]:
import re
txt = "The rain in spain"
x = re.split("\s",txt,2)# Maxsplit parameter
print(x)

['The', 'rain', 'in spain']

In [65]:
import re
txt = "The_quick_brown@fox*jump#over$the$lazy&dog"
x = re.split("[a-zA-Z]+",txt)
print(x)

['', '_', '_', '@', '*', '#', '$', '$', '&', '']

In [76]:
import re
txt = "The quick brown fox jump over the lazy dog."
x = re.split("\s+\w+\s",txt)
print(x)

['The', 'brown', 'jump', 'the', 'dog.']

In [79]:
import re
txt = "Twelve:8 Eighty Nine:9."
x = re.split("\d",txt)
print(x)

['Twelve:', ' Eighty Nine:', '.']

In [80]:
import re
txt = "Twelve:28 Eighty Nine:29."
x = re.split("\d",txt)
print(x)

['Twelve:', '', ' Eighty Nine:', '', '.']

In [81]:
import re
txt = "Twelve:28 Eighty Nine:29."
x = re.split("\d+",txt)
print(x)

['Twelve:', ' Eighty Nine:', '.']

### Sub Function

In [86]:
import re
txt = "The rain in spain"
x = re.sub('\s','9',txt)
print(x)

The9rain9in9spain

In [ ]:
import re
txt = "The rain in spain"
x = re.sub('\s','9', txt, 2)
print(x)

The9rain9in spain

In [88]:
import re
txt = "The rain in            spain"
x = re.sub('\s','9',txt)
print(x)

The9rain9in999999999999spain

In [89]:
import re
txt = "The rain in            spain"
x = re.sub('\s+','9',txt)
print(x)

The9rain9in9spain

In [ ]:
import re
txt = "The rain in ahmedabad earth"
x = re.split('\s',txt)

print(x)

for i in x:
    if i[0] == 'a' or i[0] == 'e':
        print(i)

['The', 'rain', 'in', 'ahmedabad', 'earth']
ahmedabad
earth

In [114]:
import re
txt = "https://www.washingtonpost.com/news/football-insider/wp/2016/09/02/odell"
x = re.split('/',txt,6)
print(x)

print(x[6])
print()
answer = re.split('/odell',x[6])
print(answer[0])

['https:', '', 'www.washingtonpost.com', 'news', 'football-insider', 'wp', '2016/09/02/odell']
2016/09/02/odell

2016/09/02

In [146]:
import re
txt = "https://www.washingtonpost.com/news/football-insider/wp/2016/09/02/odell"
x = re.findall('\d{4}[/-]\d{2}[/-]\d{2}',txt)
print(x[0])

2016/09/02

In [135]:
import re
txt = "9354838374 5473894739 6363636363"
answer = re.findall(r'[6-9]\d{9}', txt)
print(answer)

st_list = map(str,answer)

final_list = " ".join(st_list)
print(final_list)

['9354838374', '6363636363']
9354838374 6363636363

In [151]:
import re
txt = "my email i'd is ishandalwadi2006@gmail.com"
answer = re.findall(r'[a-z]+\d+[/@]+[a-z]+[/.]+[a-z]+', txt)
print(answer[0])

ishandalwadi2006@gmail.com